.cart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
  gap: 10px;
  border: solid red 2px;
}
.cart img {
  width: 50%;
  align-items: center;
}
.cart img {
  width: 50%;
}
.carrit img {
  width: 50%;
}
.cart button {
  font-size: 30px;
  border: solid 2px red;
  background-color: aqua;
}
.btnCarrito {
  background-color: aqua;
}
