.cuerpo {
  background-color: #dde6ed;

  color: #025464;
  padding: 20px;
}
.pages2 {
  background-color: #dde6ed;
  height: 95vh;
  color: #025464;
}
.carrito {
  background-color: #025464;
}
.paginaBooks {
  background-color: #dde6ed;
  color: #025464;
  padding: 30px;
}
.pages3 {
  background-color: #dde6ed;
  height: 95vh;
  color: #025464;
  /* padding: 60px; */
}
.pages4 {
  background-color: #dde6ed;
  height: 95vh;
  color: #025464;
  /* padding: 60px; */
}
.pages5 {
  background-color: #dde6ed;
  height: 95vh;
  color: #025464;
  /* padding: 60px; */
}
