.cuerpo {
  background-color: #025464;
  color: #fff;
  padding: 20px;
}
.pages {
  background-color: #025464;
  color: #fff;
}
.carrito {
  background-color: #025464;
}
.paginaBooks {
  background-color: #dde6ed;
}
